html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: linear-gradient(#e66465, #9198e5);
    min-height: 100vh;
    font-family: 'Nunito', sans-serif;
}

main {
    padding: 1rem;
    min-height: 85vh;
}

h1 {
    color: white;
    font-size: 4rem;
    text-decoration: white wavy underline;
    text-align: center;
}

h2 {
    font-size: 2.8rem;
}

main p {
    font-size: 1.1rem;
}

.workshops__holder {
    display: flex;
    justify-content: center;
}

.workshop__navigation {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.nav__element {
    background-color: #fff;
    border-radius: 2rem;
    border: 0.1rem solid blue;
    box-shadow: 8px 8px blue;
    padding: 0.5rem;
    font-weight: 700;
    text-decoration: none;
    margin: 0 1rem;
}

.nav__element:hover {
    background-color: blue;
    color: white;
    text-decoration: dotted underline;
    border-radius: 2rem;
    border: 0.1rem solid white;
    box-shadow: 8px 8px white;
    padding: 0.5rem;
    font-weight: 700;
}

.content__img {
    margin:  3% 23%;
    border: 0.1rem solid black;
    box-shadow: 7px 7px black;
}

.content__imgLarge {
    margin:  3% 6%;
    border: 0.1rem solid black;
    box-shadow: 7px 7px black;
}

.workshop__item {
    width: 20%;
    background-color: #fff;
    padding: 1rem;
    border: 0.1rem solid #000;
    box-shadow: 8px 8px #000;
    border-radius: 5px;
}

.workshop__item:hover {
    border: 0.2rem dotted #000;
}

.workshop__img {
    border: 0.1rem solid black;
    border-radius: 0.2rem;
}

.workshop__itemTitle {
    font-weight: bold;
    font-size: 1.5rem;
    text-decoration: dotted underline;
    color: purple;
}

.workshop__itemTitle:hover {
    font-weight: bold;
    text-decoration: underline;
    background-color: yellow;
}

.page__holder {
    background-color: white;
    padding: 1rem 3rem;
    border-radius: 3rem;
    margin: 2rem 3.5rem;
}

.page__section {
    margin: 5rem 0;
    /* background-color: white;
    padding: 1rem 3rem;
    border-radius: 3rem;
    margin: 2rem 3.5rem; */
}

.resource__holder {
    margin: 2rem 0;
    font-size: 1.3rem;
}

.resource__holder a:hover {
    margin: 2rem 0;
    font-size: 1.3rem;
    background-color: yellow;
    color: black;
    font-weight: 700;
}

.started__header {
    margin-top: 4rem;
}

footer {
    padding: 0 1rem 1.5rem 1rem;
    color: white;

}

.footer__nav {
    display: flex;
    justify-content: space-between;
    margin: 2rem 0;
}

.footer__navLink {
    font-weight: 700;
    color: white;
}

.footer__navLink:hover {
    background-color: yellow;
    color: black;
}

.footer__contact

.footer__contactLink {
    color: white;
    text-decoration: none;
    font-weight: 700;}

.footer__contactLink:hover {
    color: white;
    text-decoration: underline;
    background-color: purple;
}

.spacer {
    padding: 4rem 1rem;
}

.spacer__list {
    margin: 6rem;
}

